.header-image-container {

    img {
        width: 100%; 
        height: 100%; /* Optional: control the height if you want it to fill a specific area */
        object-fit: cover; /* Ensures the image covers the container, cropping it if necessary */
        object-position: center; /* Ensures the image is centered, keeping the focus point in the middle */
        border-radius: 3rem;
      }
}

main {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 48px;
    }
    p {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
}

input {
    text-transform: uppercase;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

  .app-container {
    width: 70%;
}

button {
    padding: 1rem;
    margin: 2rem;
}

.show-pokemon {
    background-color:rgba(125, 168, 116, 0.171);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 1px 3px 1px rgba(125, 168, 116, 0.432);
    h3 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 32px;
        color:rgba(53, 88, 45, 0.932);
    }
}

.types {
    padding: 0.5rem;
    box-shadow: 1px 2px 1px rgba(125, 168, 116, 0.137);
    background-color: rgba(125, 168, 116, 0.288) ;
}

.hp {
    
    color:rgba(26, 28, 146, 0.76)
}



  