:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Abel", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #7f85f8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:root {
  /* Default (dark mode) */
    --bg-color: rgba(41, 41, 41, 0.259);
    --text-color: #ececec;
    --hp-text-color:rgba(184, 184, 184, 0.857);
    --button-bg: rgb(57, 81, 110);
    --box-shadow: rgba(23, 47, 19, 0.432);
    --bg-color-card: rgba(87, 87, 87, 0.35);
    --input-border: rgb(82, 82, 82);
    --header-img: "https://images.ctfassets.net/w5r1fvmogo3f/4VN7t0SD1XbEyy3KnJrHTy/7c4ebf24c325bf2f75fa07ab3b41f400/pokemon-banner_b40d63371a1542f8849329421436a7bf.jpeg?fm=webp&q=90&fit=scale&w=1920";

  color-scheme: dark;
  color: var(--text-color);
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgba(58, 143, 41, 0.034);
    --text-color: #212121;
    --hp-text-color:rgba(31, 51, 27, 0.857);
    --button-bg: rgb(187, 211, 238);
    --box-shadow: rgba(125, 168, 116, 0.432);
    --bg-color-card: rgba(125, 168, 116, 0.171);
    --input-border: rgb(218, 218, 218);
    --header-img: "https://www.sketchappsources.com/resources/source-image/pokemon-vector-logo.png";

    color-scheme: light;
    color: var(--text-color);
    background-color: var(--bg-color);
  }
}
